.App {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BookList {
  padding-top: 20px;
}

.title {
  text-align: center;
}

.list-item {
  display: inline-block;
}

.list-group .list-item {
  display: block;
}

.submit-btn {
  text-align: left;
}

.delete-button {
  float: right;
  padding-left: 5px;
  cursor: pointer;
}